header{
	background-color: #11abf33f;
}

nav {
	background-color: #d9f0f5;
	width: 30%;
	height: 480px;
	float: left;
}
section {
	background-color: #eafafa;
	width: 70%;
	height: 480px;
	float: left;
}
iframe {
	width: 99%;
	height: 470px;
}
h1{
	text-align: center;
}
footer{
	background-color: #11abf33f;
	
}
fieldset{
	font-size: 26px;
}
#cin,#cp{
	width: 70px;
	font-size: 14px;
}
h1{
	transition: 10%;
	cursor: pointer;

}
h1:hover{
	transform: scale(2.0);
}
li{
	list-style: none;
	font-size: 26px;
	margin-top: 50px;

}
a{
	text-decoration: none;
}
a:visited{
	color: red;
}
legend{
	font-size: 26px;
	text-shadow: 4px 4px 8px black;
}
select{
	font-size: 17px;
}
h2{
	text-align: center;
}